/* nav导航样式 */
#nav{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 首页链接样式 */
.layui-side .userinfo {
  width: 220px;
  height: 61px;
  text-align:center;
  line-height:61px;
}
.layui-nav .layui-nav-item{
  width: 220px;
  height: 45px; 
  text-align: left;
  padding-left: 15px;
  line-height:45px;
}
.ant-space-item {
  font-size: 14px !important;
  color: #ccc;
}
.dropnav{
  width: 200px;
  height: 45px;
  text-align: center;
  line-height: 45px;
}

.layui-header {
  display: flex;
  justify-content: flex-end;
  line-height: 60px;
  padding-right: 40px;
}
.layui-header #btnLogout {
  margin-left: 25px;
  color: #ccc;
}
.layui-header .headerImg {
  margin-right: 15px;
}
.text-avatar {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #009688;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  color: #fff;
  position: relative;
  top: 4px;
  margin-right: 10px;
}
/* .layui-main,.loginAndRegBox{
  display:none !important;
} */