.layui-body .pubList  {
  padding:50px;
  background-color:transparent !important;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items:stretch;
}
.layui-body .pubList #file{
  display:none;
}
.layui-body .pubList .backbody{
  background-color:transparent !important;
}